page-menu {
  .blue-yellow{
    background-color: #2196f3;
  }

  .bluegray-lightgreen {
    background-color: #546e7a;
  }

  .purple-lightgreen {
    background-color: #8e24aa;
  }

  ion-menu .close {
    order: 0 !important;
  }

  ion-menu ion-list ion-list-header {
    margin-bottom: 0 !important;
  }

  ion-menu ion-content {
    .logo {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      position: absolute;
      bottom: 0;
      img {
        width: 41%;
      }
    }

    .theme {
      .gray, .purple, .blue {
        border-radius: 50%;
        font-size: 2rem;
        margin-right: 4px;
      }

      .gray, .gray:hover {
        background-color: #546e7a;
      }

      .purple, .purple:hover {
        background-color: #8e24aa;
      }

      .blue, .blue:hover {
        background-color: #2196f3;
      }
    }

  }
}
