<ion-header class="navigation-header">
  <ion-navbar [color]="myTheme.primary">
    <div class="page-brand">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title *ngIf="auth.user">Playground</ion-title>
      <ion-title *ngIf="!auth.user">Sensor hub</ion-title>
    </div>
    <div class="user-login">
      <ion-item class="user-profile" *ngIf="auth.user">
        <ion-avatar item-left>
          <img src="{{ auth.user.picture }}">
        </ion-avatar>
        <h2>{{ auth.user.email }}</h2>
      </ion-item>
      <ion-buttons>
        <button ion-button *ngIf="auth.user" class="btn-logout" (click)="logout()">LOG OUT</button>
        <button ion-button *ngIf="!auth.user" class="btn-login" (click)="auth.login()">LOG IN</button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="welcome-guest" *ngIf="!auth.user">
    <img src="assets/images/mod/launcher.jpg">
  </div>
  <div class="welcome-user" *ngIf="auth.user">
    <div class="active-kit" [ngClass]="{ 'blue-yellow': myTheme.secondary == 'blue-yellow-secondary', 'bluegray-lightgreen': myTheme.secondary == 'bluegray-lightgreen-secondary', 'purple-lightgreen': myTheme.secondary == 'purple-lightgreen-secondary'}">
      <p>Wi-Fi kit</p>
    </div>

    <div class="router-apn-wrapper">
      <div class="router-apn">
        <span class="label">ROUTER</span>
      </div>
    </div>

    <div class="wifi-signal-wrapper">
      <div class="wifi-signal" [ngClass]="{'connection-online': isCientOnline}"></div>
    </div>

    <div class="pcb">
      <div class="microcontroller">
      </div>
      <div class="nodemcu-unit">
        <div class="nodemcu-module"></div>
      </div>
      <!-- <div class="nodemcu-connection">
        <div class="nodemcu-connection-status">
          <span class="status-icon" [ngClass]="{'nodemcu-online': nodeMCUOnline}"></span>
          <span class="status-text" *ngIf="!nodeMCUOnline" [ngClass]="{'text-disconnected': !nodeMCUOnline}">DISCONNECTED</span>
          <span class="status-text" *ngIf="nodeMCUOnline" [ngClass]="{'text-connected': nodeMCUOnline}">CONNECTED</span>
        </div>
      </div> -->
      <div class="led-switch">
        <ion-toggle #applToggle (ionChange)="toggleAppl(applToggle.checked)"></ion-toggle>
      </div>
    </div>

    <div class="sensors">
      <div class="sensor ldr-sensor" *ngIf="occupancyStatus.sensors.ldr.status">
        <div class="sensor-connection up-left"></div>
        <div class="sensor-data balloon-up" *ngIf="sensorData.ldr.data">
          <p class="sensor-data-text">{{ sensorData.ldr.data || '00.00 cd/m2' }}</p>
        </div>
      </div>
      <!-- <div class="sensor temp-sensor" *ngIf="occupancyStatus.sensors.temp.status">
        <div class="sensor-connection bottom-left"></div>
        <div class="sensor-data balloon-down" *ngIf="sensorData.temp.data">
          <p class="sensor-data-text">{{ sensorData.temp.data || '00.00° C' }}</p>
        </div>
      </div> -->
      <div class="sensor temp-sensor">
        <div class="sensor-connection bottom-left"></div>
        <div class="sensor-data balloon-down">
          <p class="sensor-data-text">{{ sensorData.temp.data || '00.00° C' }}</p>
        </div>
      </div>
      <!-- <div class="sensor dst-sensor" *ngIf="occupancyStatus.sensors.hum.status">
        <div class="sensor-connection up-right"></div>
        <div class="sensor-data balloon-up" *ngIf="sensorData.hum.data">
          <p class="sensor-data-text">{{ sensorData.hum.data || '00.00 %' }}</p>
        </div>
      </div> -->
      <div class="sensor dst-sensor">
        <div class="sensor-connection up-right"></div>
        <div class="sensor-data balloon-up">
          <p class="sensor-data-text">{{ sensorData.hum.data || '00.00 %' }}</p>
        </div>
      </div>
      <div class="sensor bmp-sensor" *ngIf="occupancyStatus.sensors.bmp.status">
        <div class="sensor-connection bottom-right"></div>
        <div class="sensor-data balloon-down" *ngIf="sensorData.bmp.data">
          <p class="sensor-data-text">{{ sensorData.bmp.data || '00.00 mmHg' }}</p>
        </div>
      </div>
    </div>

    <div class="load-appliance-wrapper">
      <div class="appliance" [ngClass]="{'appliance-on': applianceData.led.data == 100}" *ngIf="occupancyStatus.appliances.led.status">
        <div class="appliance-connection"></div>
        <span class="label">APPLIANCE</span>
      </div>
      <button ion-button (click)="publishSensorMsg()">Publish</button>
    </div>
  </div>
</ion-content>
