page-dashboard {
  .welcome-guest {
    width: 38%;
    margin: 64px auto;
  }

  .welcome-guest img {
    filter: grayscale(100%);
  }

  .active-kit {
    width: 280px;
    height: 106px;
    background-color: color($colors, 'primary');
    position: absolute;
    right: -79px;
    top: -30px;
    transform: rotate(30deg);
    z-index: 99999;

    p{
      position: relative;
      top: 45%;
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 1.56rem;
    }
  }

  /* utility class to be used dyna,ically by angular */

  .nodemcu-online {
    background-color: color($colors, 'secondary') !important;
  }

  .text-disconnected {
    color: color($colors, 'danger');
  }

  .text-connected {
    color: color($colors, 'secondary');
  }


  .router-apn-wrapper {
    width: 40%;
    margin: 3rem auto 7rem;
    .router-apn {
      margin: 16px auto 0px;
      width: 10%;
      min-height: 34px;
      height: 70px;
      background-image: url('../assets/images/router.svg');
      background-repeat: no-repeat;

      & .label {
        display: inline-block;
        width: 80px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        top: 80px;
        left: -3px;
      }
    }
  }

  .wifi-signal-wrapper {
    width: 40%;
    margin: 0px auto;
    .wifi-signal {
      width: 10%;
      height: 70px;
      margin: 0px auto;
      background-image: url('../assets/images/wifi3.svg');
      filter: grayscale(100%);
      background-repeat: no-repeat;
      &.connection-online {
        filter: grayscale(0%);
      }
    }
  }

  .pcb {
    width: 42%;
    margin: 3rem auto 1rem;
    padding: 16px;
    min-height: 280px;
    border-radius: 8px;
    background-color: color($colors, 'light');
    box-shadow: 5px 7px 0px darken(color($colors, 'light'), 7%);

    .microcontroller {
      width:18%;
      margin: 12px auto;
      min-height: 34px;
      height: 114px;
      //background-color: darken(color($colors, 'light'), 8%);
      background-image: url('../assets/images/chip.svg');
      background-repeat: no-repeat;
      .label {
        text-transform: uppercase;
        position: relative;
        top: 130px;
      }
    }

    .nodemcu-unit {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;

      .nodemcu-module {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-image: url('../assets/images/chip2.svg');
        background-repeat: no-repeat;
      }
    }

    .nodemcu-connection {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      margin-top: 6px;

      .nodemcu-connection-status {
        width: 136px;
        height: 20px;

        .status-icon {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: color($colors, 'danger');
          display: inline-block;
        }

        .status-text {
          padding-left: 10px;
        }
      }
    }

    .nodemcu-label {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      margin-top: 12px;
    }
  }

  .sensors {
    position: relative;
    .sensor {
      width: 76px;
      height: 76px;
      background-image: url('../assets/images/cpu2.svg');
      background-repeat: no-repeat;

      &.ldr-sensor {
        position: absolute;
        top: -340px;
        left: 16%;

        & .sensor-data {
          width: 160px;
          height: 80px;
          background-image: url('../assets/images/clouds.svg');
          background-repeat: no-repeat;
          position: absolute;
          left: 32px;
          top: -103px;

          .sensor-data-text {
            text-align: center;
            color: darken(color($colors, 'light'), 45%);
            position: relative;
            top: 6px;
            left: -14px;
            font-size: 2.25rem;
            font-weight: 800;
          }
        }

        & .label {
          display: inline-block;
          width: 80px;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          top: 20px;
          left: -83px;
        }
      }
      &.rsvd-sensor {
        position: absolute;
        top: -220px;
        left: 16%;

        & .sensor-data {
          width: 160px;
          height: 80px;
          background-image: url('../assets/images/clouds.svg');
          background-repeat: no-repeat;
          position: absolute;
          left: -112px;
          top: 104px;

          .sensor-data-text {
            text-align: center;
            color: darken(color($colors, 'light'), 45%);
            position: relative;
            top: 6px;
            left: -14px;
            font-size: 2.25rem;
            font-weight: 800;
          }
        }

        & .label {
          display: inline-block;
          width: 80px;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          top: 20px;
          left: -83px;
        }
      }
      &.dst-sensor {
        position: absolute;
        top: -340px;
        right: 16%;

        & .sensor-data {
          width: 160px;
          height: 80px;
          background-image: url('../assets/images/clouds.svg');
          background-repeat: no-repeat;
          position: absolute;
          left: 52px;
          top: -103px;

          .sensor-data-text {
            text-align: center;
            color: darken(color($colors, 'light'), 45%);
            position: relative;
            top: 6px;
            left: -14px;
            font-size: 2.25rem;
            font-weight: 800;
          }
        }

        & .label {
          display: inline-block;
          width: 80px;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          top: 20px;
          left: 93px;
        }
      }
      &.bmp-sensor {
        position: absolute;
        top: -220px;
        right: 16%;

        & .sensor-data {
          width: 160px;
          height: 80px;
          background-image: url('../assets/images/clouds.svg');
          background-repeat: no-repeat;
          position: absolute;
          left: -92px;
          top: 104px;

          .sensor-data-text {
            text-align: center;
            color: darken(color($colors, 'light'), 45%);
            position: relative;
            top: 6px;
            left: -14px;
            font-size: 2.25rem;
            font-weight: 800;
          }
        }

        & .label {
          display: inline-block;
          width: 80px;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          top: 20px;
          left: 93px;
        }
      }

      & .sensor-connection.up-left {
        width: 470px;
        height: 80px;
        background-image: url('../assets/images/dash5.svg');
        background-repeat: no-repeat;
        position: absolute;
        left: 95px;
        top: 16px;
      }

      & .sensor-connection.bottom-left {
        width: 470px;
        height: 80px;
        background-image: url('../assets/images/dash6.svg');
        background-repeat: no-repeat;
        position: absolute;
        left: 95px;
        top: -35px;
      }

      & .sensor-connection.up-right {
        width: 485px;
        height: 80px;
        background-image: url('../assets/images/dash3.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 95px;
        top: 16px;
      }

      & .sensor-connection.bottom-right {
        width: 485px;
        height: 80px;
        background-image: url('../assets/images/dash4.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 95px;
        top: -35px;
      }
    }
  }

  .load-appliance-wrapper {
    width: 40%;
    margin: 8rem auto;
    .appliance {
      width: 60px;
      height: 60px;
      margin: 18px auto;
      //background-color: color($colors, 'dark');
      background-image: url('../assets/images/light1.svg');
      filter: grayscale(100%);

      &.appliance-on {
        filter: grayscale(0%);
      }

      & .appliance-connection {
        width: 540px;
        height: 130px;
        background-image: url('../assets/images/dash7.svg');
        background-repeat: no-repeat;
        position: absolute;
        left: 31%;
        bottom: 17%;
      }

      & .label {
        display: inline-block;
        width: 80px;
        text-transform: uppercase;
        position: relative;
        top: 80px;
        left: 0;
      }
    }
  }
}
